@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #cccccc;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;


}
a:link, a:visited {
  background-color: #ff3526;
  color: white;
  padding: 13px 25px 14px 25px;
  text-align: center;
  text-decoration: none;
  display: block;
  border: none;
}


a:hover, a:active {
  background-color: red;
}
